<h4>Listing enrolments</h4>


<ul>
	<% @enrolments.each do |enrolment| %>
	<li><%= link_to "| #{enrolment.user.username} subscribed to #{enrolment.course.name} |", enrolment %>

   <%= link_to 'Destroy', enrolment, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>

<br>



<br>